/*-----------------------------------------------------------------------------
>>> TEMPLATE STYLES
-------------------------------------------------------------------------------
1.0 General
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
# GENERAL
-----------------------------------------------------------------------------*/

.satus
{
    font-size: 13px;

    overflow: hidden;
}


/*-----------------------------------------------------------------------------
## HOVER
-----------------------------------------------------------------------------*/

.satus-button,
.satus-icon-button,
.satus-folder,
.satus-select,
.satus-switch,
.satus-select__options > div
{
    transition: background-color 50ms;

    background-color: transparent;
}

.satus-button:hover,
.satus-icon-button:hover,
.satus-folder:hover,
.satus-select:hover,
.satus-switch:hover,
.satus-select__options > div:hover
{
    background-color: var(--main-item-hover--background);
}





/*-----------------------------------------------------------------------------
# HEADER
-----------------------------------------------------------------------------*/

.satus-header
{
    position: relative;
    z-index: 1;

    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}


/*-----------------------------------------------------------------------------
## BUTTONS
-----------------------------------------------------------------------------*/

.satus-header .satus-button
{
    min-width: 40px;
    height: 40px;
}


/*-----------------------------------------------------------------------------
## «BACK» BUTTON
-----------------------------------------------------------------------------*/

.satus-button--back
{
    position: absolute;

    visibility: hidden;

    transition: visibility 150ms, opacity 150ms;
    pointer-events: none;

    opacity: 0;
}

.satus[data-path]:not([data-path='main']) .satus-button--back
{
    visibility: visible;

    transition: 250ms;
    pointer-events: all;

    opacity: 1;
}

.satus-button--back svg
{
    width: 20px;
    height: 20px;
}


/*-----------------------------------------------------------------------------
## TITLE
-----------------------------------------------------------------------------*/

.satus-header__title
{
    font-size: 15px;
    font-weight: 600;

    position: absolute;
    left: 8px;

    width: auto;

    transition: 200ms;
}

.satus[data-path]:not([data-path='main']) .satus-header__title
{
    left: 56px;
}


input,
textarea
{
    font-family: 'Open Sans', sans-serif;
}


/*-----------------------------------------------------------------------------
# MAIN
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
## SECTION
-----------------------------------------------------------------------------*/

.satus-main
{
    height: calc(100% - 56px);
}

.satus-main__container > .satus-section
{
    width: calc(100% - 16px);
    padding: 8px 0;

    border-radius: 8px;
    box-shadow: 0 0 0 1px var(--main-shadow), 0 1px 0 1px var(--main-shadow), 0 2px 2px 0 var(--main-shadow);
}




.satus-section--textarea
{
    padding: 0;
}

.satus-text-field--textarea
{
    display: block;

    width: 100%;
    height: 200px;
}





.satus-button--create
{
    font-size: 32px;

    position: fixed;
    right: 8px;
    bottom: 16px;

    overflow: hidden;

    width: 56px;
    height: 56px;

    color: #fff;
    border-radius: 50%;
    background: var(--primary);
    box-shadow: 0 2px 6px rgba(0,0,0,.8);
}

.satus-button--create:hover
{
    background: var(--primary);
}



.satus-section .satus-text-field
{
    width: calc(100% - 16px);
    margin: 0 8px 8px;

    background: rgba(0,0,0,.05);
}


.satus-section--footer
{
    display: flex;

    justify-content: flex-end;
}

.satus-section--footer .satus-button
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;

    overflow: hidden;

    height: 40px;
    min-height: 40px;
    margin-right: 8px;

    text-transform: uppercase;

    color: var(--primary);
    border-radius: 4px;
}







.satus-main .satus-section--items
{
    display: flex;

    margin: 0;

    justify-content: space-between;
}

.satus-section--items .satus-text-field
{
    height: 32px;
    margin: 0 8px;
    padding: 0;

    text-align: center;
}

.satus-section--items .satus-text
{
    height: 32px;
    min-height: 32px;
    padding: 0;

    text-align: center;

    justify-content: center;
    align-items: center;
}
