/*-----------------------------------------------------------------------------
>>> TEMPLATE THEMES
-------------------------------------------------------------------------------
1.0 Default
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
1.0 Default
-----------------------------------------------------------------------------*/

.satus {
	--primary: #FF2D20;
	
	--background-z-index-0: #EFEFEF;
	--background-z-index-1: #FAFAFA;
	--background-z-index-2: #FAFAFA;

	--text-z-index-0: #111;
	--text-z-index-1: #444;
	--text-z-index-2: #444;

    --main-shadow: rgba(0, 0, 0, .025);

    --main-item-hover--background: rgba(0, 0, 0, .04);

    --main-appearance-shadow: #DFDFDF;
}
